NEXT_PUBLIC_SUPABASE_URL=https://ikdynftdmgzffepcjxzr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrZHluZnRkbWd6ZmZlcGNqeHpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNDQ1OTYsImV4cCI6MjA4ODYyMDU5Nn0.5y2MIi69eSU0E_5Z3X-54IzV0HthhjhIrOqMPgQAuYg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrZHluZnRkbWd6ZmZlcGNqeHpyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA0NDU5NiwiZXhwIjoyMDg4NjIwNTk2fQ.1ga6b8Qk86DkJAIVkRa-FjQ7CXDu5Yc-eCDmFMBRRZA
POSTGRES_URL=postgres://postgres.ikdynftdmgzffepcjxzr:RSM6ShRCfyw8mddA@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
POSTGRES_URL_NON_POOLING=postgres://postgres.ikdynftdmgzffepcjxzr:RSM6ShRCfyw8mddA@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
POSTGRES_USER=postgres
POSTGRES_PASSWORD=RSM6ShRCfyw8mddA
POSTGRES_HOST=db.ikdynftdmgzffepcjxzr.supabase.co
POSTGRES_PORT=6543
POSTGRES_DATABASE=postgres
SUPABASE_JWT_SECRET=ZSnzy1BneiYZyBlSHyjNw27KYNc3aL2ewOLhva+DGYrhLobOs3ddW4nIhYS2Ow4IhelgZbt6q8h3Pr1Z27gvAw==
